USE [master]
GO
/****** Object:  Database [CurrencyRate]    Script Date: 9/13/2024 3:25:12 AM ******/
CREATE DATABASE [CurrencyRate]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CurrencyRate', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CurrencyRate.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CurrencyRate_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CurrencyRate_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CurrencyRate].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CurrencyRate]
GO
/****** Object:  Table [dbo].[TblCurrencies]    Script Date: 9/13/2024 3:25:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblCurrencies](
	[currencyId] [int] IDENTITY(1,1) NOT NULL,
	[currencyName] [nvarchar](50) NULL,
	[currnecySymbol] [nchar](1) NULL,
 CONSTRAINT [PK_TbşCurrency] PRIMARY KEY CLUSTERED 
(
	[currencyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblCurrencyPrices]    Script Date: 9/13/2024 3:25:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblCurrencyPrices](
	[preisId] [int] IDENTITY(1,1) NOT NULL,
	[currencyName] [int] NULL,
	[currencyBuying] [decimal](18, 4) NULL,
	[currencySelling] [decimal](18, 4) NULL,
	[date] [date] NULL,
 CONSTRAINT [PK_TblCurrencyPrice] PRIMARY KEY CLUSTERED 
(
	[preisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblOperations]    Script Date: 9/13/2024 3:25:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblOperations](
	[operetionId] [int] IDENTITY(1,1) NOT NULL,
	[customenrName] [nvarchar](50) NULL,
	[customerSurname] [nvarchar](50) NULL,
	[currencyCode] [int] NULL,
	[operationType] [nvarchar](10) NULL,
	[currentValue] [decimal](18, 4) NULL,
	[Amount] [decimal](18, 4) NULL,
	[totalPrice] [decimal](18, 4) NULL,
	[operationDate] [date] NULL,
 CONSTRAINT [PK_TblOperations] PRIMARY KEY CLUSTERED 
(
	[operetionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblCurrencyPrices]  WITH CHECK ADD  CONSTRAINT [FK_TblCurrencyPrices_TblCurrencies] FOREIGN KEY([currencyName])
REFERENCES [dbo].[TblCurrencies] ([currencyId])
GO
ALTER TABLE [dbo].[TblCurrencyPrices] CHECK CONSTRAINT [FK_TblCurrencyPrices_TblCurrencies]
GO
ALTER TABLE [dbo].[TblOperations]  WITH CHECK ADD  CONSTRAINT [FK_TblOperations_TblCurrencies] FOREIGN KEY([currencyCode])
REFERENCES [dbo].[TblCurrencies] ([currencyId])
GO
ALTER TABLE [dbo].[TblOperations] CHECK CONSTRAINT [FK_TblOperations_TblCurrencies]
GO
USE [master]
GO
